// Variables

$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);
$purple: #766CF1;

// Fonts

$primaryFont: 'Red Hat Display', sans-serif;
$med: 500;
$bold: 700;
$black: 900;

*, *::after, *::before {
    box-sizing: border-box;
}
html{
    font-size: 100%;
}
body {
    margin: 0;
    padding: 0;
    background: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: $paleBlue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $primaryFont;
    height: 100vh;
}
.card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 40px 40px -20px rgba(13, 48, 189, 0.15) ;
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.card__hero {
    height: 200px;
    background-image: url(../images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.card__inner {
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
}
.card__text h1 {
    font-size: 1.375rem;
    font-weight: $black;
}
.card__text p {
    color: $desaturatedBlue;
    font-weight: $med;
    font-size: 0.9375rem;
    line-height: 2;
}
.card__plan {
    display: flex;
    align-items: center;
    background-color: $veryPaleBlue;
    border-radius: 10px;
    margin-top: 1.4375em;
    margin-bottom: 1.4375em;
    padding: 1em;
    p {
        font-size: 0.875rem;
        &:first-of-type {
            color: $darkBlue;
            margin-bottom: -10px;
            font-weight: $black;
        }
        &:last-of-type {
            color: $desaturatedBlue;
        }
    }
}
.music-icon {
    background: url(../images/icon-music.svg);
    width: 48px;
    height: 48px;
    margin-right: 1em;
}
.change-plan {
    color: $brightBlue;
    font-weight: $bold;
    font-size: 0.8125rem;
    margin-left: auto;
    transition: color 0.2s ease-in;
    &:hover {
        color: $purple;
    }
}
.btn-link {
    display: block;
    font-size: 0.9375rem;
    font-weight: $black;
    text-decoration: none;
    padding: 1em 0;
}
.payment {
    background-color: $brightBlue;
    box-shadow: 0 20px 20px rgba(56,41,224,0.2);
    color: white;
    border-radius: 10px;
    margin-bottom: 1.4375em;
    transition: background-color 0.2s ease-in;
    &:hover {
        background-color: $purple;
    }
}
.cancel {
    color: $desaturatedBlue;
    transition: color 0.2s ease-in;
    &:hover {
        color: $darkBlue;
    }
}
@media screen and (min-width: 75rem){
    body {
        background: url(../images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: $paleBlue;
    }
    .card__hero {
        height: 220px;
    }
    .card__text h1 {
        font-size: 1.75rem;
    }
    .card__text p,
    .card__plan p {
        font-size: 1rem;
    }
    .change-plan {
        font-size: 0.875rem;
    }
}